footer {
    text-align: center;
}

.footerInfo {
    display: flex;
    flex-flow: row nowrap;
    padding: 27.5px 11.5%;
    align-items: center;
    background-color: #4C5866;
    justify-content: space-between;
}

.footerMessengers {
    display: flex;
    justify-content: end;
    gap: 29px;
    flex-basis: 70%;
}

.copyright {
    font-size: 13px;
}
