.header {
    display: flex;
    padding: 1.9% 0;
    align-items: center;
    border-bottom: #e1e1e1 solid 1px;
}

.headerMenu, .menu770 {
    font-size: 20px;
    color: #4C5866;
    display: flex;
    flex-basis: 90%;
    justify-content: end;
    white-space: nowrap;
}

.headerMenu .menu1440, .menu770 {
    display: flex;
}

.headerMenu .menu1440 {
    gap: 60px;
}

.menu {
    display: none;
}

.headerMenu .butSearch {
    margin-left: 60px;
}

.headerMenu .butExit {
    margin-left: 28px;
}

.butExitInput {
    width: 15px;
    border-bottom: #D1D1E5 1px solid;
}

.inputSearch {
    border: none;
    border-bottom: #D1D1E5 1px solid;
    color: #4C5866;
    font-size: 20px;
    font-family: "Roboto", serif;
    margin-left: 5px;
    padding: 0;
    width: 200px;

}

.inputSearch:focus {
    outline: none;
}

.inputSearch::placeholder {
    color: #D1D1E5;
    font-family: "Roboto", serif;
}

.headerMenu div p {
    margin: 0;
    white-space: nowrap;
}

.logoSimple {
    flex-basis: 10%;
}

.header .mobileDiv {
    display: flex;
}

.header {
    justify-content: space-between;
}

/*
блок с картинкой
*/
.headerMainBlock {
    background: url("recourses/imageProducts/simple_paper.png") no-repeat right top;
    background-size: 44%;
    margin-top: 4%;
    padding-top: 5%;
    padding-bottom: 9%;
    margin-right: 11%;
}


.headerMainBlock .headerMainBlockHeader {
    font-size: 60px;
    color: #4C5866;
    margin-bottom: 31px;
    margin-top: 0;
    line-height: 60px;
    width: 100%;
}

.headerMainBlock p {
    line-height: 27px;
    margin-bottom: 31px;
    width: 42%;
}
