
/*materials block*/

.materials {
    background-color: #ebebeb;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 6.2% 0 91px;
}

.materials p {
    margin: 0;
}

.materialsV {
    display: flex;
    gap: 30px;
}

.materialV {
    display: flex;
    border-top: 1px solid #cacaca;
    padding-top: 1.9%;
    gap: 30px;
    align-items: center;
    line-height: 27px;
}

.materialV .materialVHeader {
    color: #666666;
    font-weight: 500;
}

.materialBigBlock {
    display: flex;
    margin-top: 8%;
    gap: 30px;
}

.materialBigBlock .materialBigDescription {
    flex-basis: 30%;
    line-height: 30.6px;
}

.materialBigBlock .materialBigDescription p:nth-child(2) {
    margin-bottom: 10px;
}

.materialBigBlock .materialHead {
    font-size: 40px;
    line-height: 40px;
    color: #666666;
    padding-top: 60px;
    padding-bottom: 16px;
}

/*products block*/

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 92px 0 68px;
}

.product {
    flex-basis: 23%;
}

.productEdition {
    margin-top: 8px;
}

.product .productHeader {
    font-size: 30px;
    color: #666666;
    margin-top: 12px;
}

.product .productDescription {
    line-height: 30.6px;
    font-size: 18px;
    margin-top: 8px;
}

.product img:first-child {
    width: 100%
}

.product .butAbout {
    border: none;
    background-color: white;
    color: #7875FE;
    display: flex;
    gap: 2%;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin: 21px 1px;
    padding: 0;
}

.product .productEdition {
    color: #B5B5BD;
    font-size: 14px;
}



/*sponsors block*/

.sponsors {
    background-color: #ebebeb;
    padding: 6.3% 11.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sponsors img {
    flex-basis: 22%;
}


/*sketchbook block*/

.simple {
    display: flex;
    margin-top: 6%;
    padding-bottom: 7.9%;
    padding-top: 22px;
    margin-right: 172px;
    align-items: center;
    background: url("recourses/imageProducts/simpleSketchbook.svg") no-repeat right top;
    background-size: 50vw;
}


.simpleDescription {
    flex-basis: 35%;
}

.simpleDescription p:nth-child(2){
    font-size: 18px;
    line-height: 30.6px;
    margin-top: 5px;
}

.simpleHeader {
    font-size: 40px;
    color: #666666;
}
.simple button {
    width: 78%;
    padding: 7% 10%;
    margin-top: 30px;
}


